



.JobsContainer{
  
   margin-top: var(--global-fixes-height);
    width: var(--global-parent-width); 
    height: var(--global-parent-height); 

    background-color: var(--global-background-color);
}


.job_container{
    
        
        width: var(--global-parent-width); 
        height: var(--global-parent-height); 
        background-color: var(--global-background-color);
        padding:0px calc(var(--global-all-padding) * 4);

}



.job_tab{
    display: grid;
    grid-template-columns: repeat(6, auto);
    position: fixed;
    z-index: 50;
    flex-direction: row;
    
    align-items: center;
    width: var(--global-parent-width); 
    height: 50px;
    background-color: var(--global-background-color);
    
}
/* work om padding */
.JOB_LINK{
    text-decoration: none;
    color: var(--global-link-color);
    font-size: var(--global-font-size);
    font-weight: var(--global-font-weight);
    text-align: center;
    padding:var(--global-padding);
    border: var( --global-border);
    border-radius: var(--global-border-radius);
    transition: var(--global-text-tansistion); 
    white-space: nowrap;
  
}

.JOB_LINK:hover{
    transform: scale(1.1);
    transition: var(--global-text-tansistion); 
    color:yellowgreen
    
   
}
.JOB_LINK.active{
    transform: scale(1.1);
    transition: var(--global-text-tansistion); 
    color: brown
}

.JOB_LINK:link{
    /* background-color: var(--global-background-color);
    border: 1px solid #7a0404;
    border-radius: var(--global-border-radius);
    transition: 0.5s; */
}

.job_filter_container{
    width: var(--global-parent-width); 
    height: var(--global-parent-height); 
    background-color: var(--global-background-color);
    padding:  calc(var(--global-all-padding) * 8);
}
.job_filter{
  
    display:  flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: var(--global-parent-width); 
    height: 100px;
    background-color: var(--global-background-color);
    column-gap: 40px;

}
.coutn_job{

    background-color: var(--global-background-color);
    text-decoration: none;
    color: black;
     font-size: var(--global-font-size);
    font-weight: var(--global-font-weight);
    text-align: center;
    padding-right: calc(var(--global-all-padding) * 6);
    border: var( --global-border);
    border-radius: calc(var(--global-border-radius) * 2);
    transition: var(--global-text-tansistion); 

}

.Active_tab{
    background-color: var(--global-background-color);
    border-bottom: 1px solid #7a0404;
    border-radius: var(--global-border-radius);
    transition: var(--global-text-tansistion); 
}
.job_list{

    width: var(--global-parent-width); 
    height: var(--global-parent-height); 
    background-color: var(--global-background-color);
    padding:  calc(var(--global-all-padding) * 4);
}

.job_list_container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}









/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 300px) {

    .JOB_LINK{
        font-size: 8px;
        
        padding-left: var(--global-all-padding);
        padding-right: var(--global-all-padding);

   }

}
@media only screen and (min-width: 600px) {

    .JOB_LINK{
        font-size: calc(var(--global-font-size)/2);
        
        padding-left:calc(var( --global-all-padding) * 2);
        padding-right:calc(var( --global-all-padding) * 2);
   }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .JOB_LINK{
        font-size: calc(var(--global-font-size)/1.5);
        
        padding:calc(var(--global-padding) / 2);


   }
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    
    
    .JOB_LINK{
        font-size: calc(var(--global-font-size));
        
        padding:var(--global-padding);

    }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .JOB_LINK{
        font-size: var(--global-font-size);
        padding: var(--global-padding);

   }


}