
.Admin_container{
    margin-top: 100px;
    width: 100%;
    height: 100%;
    
}
.Admin_permission_table{
    width: 100%;
    padding: 20px;
    
}
.Admin_header{
    width: 100%;
    height: 100px;
    padding: 20px;
}
.Admin_header_Navbar{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    align-content: center;
    align-items: center;
}

.Admin_permission_body{
    background-color:beige ;
    z-index: 100;
    box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.5);
    border-radius: 10px;
}
.Permission_header_item_list{
    padding: 25px 0px;
}
.Admin_permission_table_header,.Admin_permission_table_body{
    width: 100%;
    padding: 0 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));
    align-items: center;
    justify-items: center;
    justify-content: start;
}

.Admin_permission_table_header_item,.Admin_permission_table_body_item{
    padding: 10px;
    text-align: start;
    white-space: nowrap;
    max-width: 200px;
   
}

.Admin_permission_table_header_item{
    font-weight: bold;
    font-size: 20px;
    color: #000;
    border-radius: 10px 10px 0 0;
}

.Admin_permission_table_body_item{
    position: relative;
    font-size: 18px;
    color: #000;
    border-radius: 0 0 10px 10px;
}

.Admin_permission_table_body:hover{
  
    cursor: pointer;
    background-color: #fff;
}

.user_icon{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: url('../../Assets/Image/user.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.5);
    margin-right: 10px;

}

.user_icon_with_Name{
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-direction: row;
    align-content: center;
    align-items: center;
}
.Permission_button{
   
  
    
     display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    align-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    color: #131212; 
   
    /* 
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
     */
  


}
.button{
    width: 100%;
    display: flex;
    height: auto;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    color: #131212;
  
}
.button:hover{
    box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.5);
}
.button.Approve_button{
    background-color: #77dd77
}
.button.Reject_button{
    background-color: #ff6961
}

.permission_body{
    background-color:beige ;
    z-index: 100;
}


.Nothing_found_container{
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

@media only screen and (min-width: 600px) {

    .Admin_permission_table_header_item,.Admin_permission_table_body_item{
        font-size: 10px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    .Admin_permission_table_header_item,.Admin_permission_table_body_item{
        font-size: 13px;
    }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  
    .Admin_permission_table_header_item,.Admin_permission_table_body_item{
        font-size: 15px;
    }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

    .Admin_permission_table_header_item,.Admin_permission_table_body_item{
        font-size: 20px;
    }



}

