
.user_container{
    margin-top: 100px;
    width: 100%;
    height: 100%;
}
.User_table_container{

    width: 100%;
    padding: 20px;

}

.User_table_container_body{
    background-color:beige ;
    z-index: 100;
    box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.5);
    border-radius: 10px;
}


.user_header{
    width: 100%;
    height: 100px;
    padding: 20px;
}
.user_table_header_item_list,.user_body_item_list{
    width: 100%;
    padding: 0 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));
    align-items: center;
    justify-items: center;
    justify-content: start;

}

.user_header_item{
    
    text-align: start;
    white-space: nowrap;
    max-width: 200px;
    font-weight: bold;
    font-size: 20px;
   
}

.user_body{
    background-color:beige ;
    z-index: 100;
}


.user_body_item{
    padding: 10px;
    text-align: start;
    white-space: nowrap;
    max-width: 200px;
  
   
} 

.user_body_item .edit_action_button{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;

}
.user_body_item .delete_action_button{
    background-color: #f44336;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;


}



/* Path: src\screen\Admin_screen\All_user_screen.css */



/* .user_header_colunm,.user_body_colunm{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto ;
    grid-column-gap: 16px;
    column-gap: 16px;
    text-align: -webkit-auto;
} */


.sorting{
    width: 50px;
    height: 50px;
   
}
.fa-sort-up{
    color: #4CAF50; 
    /* background-image:  url('../../Assets/Image/sort_up.png') ; */
    width: 20px;
    height: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 20px;
    margin-left: 5px;
   
}
.fa-sort-down{
    color: #f44336;
    font-size: 20px;
    margin-left: 5px;
}





@media only screen and (min-width: 600px) {

     .user_body_item,.user_header_item{
        font-size: 10px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

     .user_body_item,.user_header_item{
        font-size: 13px;
    }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  
     .user_body_item,.user_header_item{
        font-size: 15px;
    }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

    .user_body_item,.user_header_item{
        font-size: 20px;
    }



}

