
:root{
  --global-transition: all 0.3s ease-in-out;
  --global-all-padding: 5px;
  --global-parent-width: 100%;
  --global-parent-height: 100%;
  --global-fixes-width: 100vw;
  --global-fixes-height: 100px;
  --global-font-size: 20px;
  --global-font-weight: 600;
  --global-color: #111010;
  --global-transition: all 0.3s ease-in-out;
  --global-cursor: pointer;
  --global--margin: 20px;
  --global-white-space: nowrap;
  --global-border: 1px solid #f5f5f5;
  --global-border-radius: 5px;
  --global-background-color: #f5f5f5;
  --global-link-color: #111010;
  --global-padding: 10px 20px;
  --global-box-shadow: 0 0 10px rgba(0,0,0,0.5);
  --global-z-index: 100;

  --global-position: absolute;
  --global-top: 50%;
  --global-left: 50%;
  --global-transform: translate(-50%,-50%);
  --global-text-align: center;
  --global-display: flex;
  --global-justify-content: center;
  --global-align-items: center;
  --global-flex-direction: column;
  --global-flex-wrap: nowrap;
  --global-flex: 1;
  --global-flex-grow: 1;
  --global-flex-shrink: 1;
  --global-flex-basis: 0;
  --global-flex-flow: row nowrap;
  --global-order: 0;
  --global-align-self: auto;
  --global-align-content: stretch;
  --global-overflow: hidden;
  --global-text-decoration: none;
  --global-text-transform: uppercase;
  --global-text-overflow: ellipsis;
  --global-overflow-wrap: break-word;
  --global-word-wrap: break-word;
  --global-word-break: break-word;
  --global-line-height: 1.5;
  --global-letter-spacing: 1px;
  --global-text-shadow: 0 0 10px rgba(0,0,0,0.5);
  --global-box-sizing: border-box;
  --global-outline: none;
  --global-border-box: border-box;
  --global-text-tansistion: all 0.3s ease-in-out; 
  --global-text-color: #111010;
  --global-tile-transition: all 0.5s ease-in-out;
  --global-transform: Scale(1.08);
  --nav-height: 100px;
  --nav-scroll-height: 70px;
  --nav-bg: #f5f5f5;
  --nav-scroll-bg: #fff;
  --nav-shadow: 0 0 10px rgba(0,0,0,0.5);
  --nav-transition: all 0.3s ease-in-out;
  --nav-z-index: 100;
  --nav-logo-width: 100px;
  --nav-logo-height: 50px;
  --nav-logo-border: 2px solid #111010;
  --nav-logo-border-radius: 50%;
  --nav-logo-transition: all 0.3s ease-in-out;
  --nav-logo-cursor: pointer;
  --nav--logo-margin: 0 0px;
  --nav-tab-font-size: 1.2em;
  --nav-tab-responsive-font-size: 16px;
  --nav-tab-responsive-margin: 0 10px;
  --nav-tab-font-weight: 600;
  --nav-tab-color: #111010;
  --nav-tab-transition: all 0.3s ease-in-out;
  --nav-search-icon-left: 10px;
  --nav-search-border: 2px solid #111010;
  --nav-search-border-radius: 25px;
  --nav-search-icon-color: #111010;
  --nav-search-icon-font-size: 20px;
  --nav-search-icon-width: 40px;
  --nav-search-icon-height: 40px;
  --nav-search-icon-transition: all 0.3s ease-in-out;
  --nav-search-text-padding: 0 45px;
  --nav-search-text-font-size: 16px;  
  --nav-search-text-font-weight: 600;
  --nav-search-text-transition: all 0.3s ease-in-out;
  --nav-search-text-width: 100%;
  --nav-search-text-height: 100%;
  --nav-search-text-border: none;
  --nav-search-text-outline: none;
  --nav-search-text-background-color: transparent;
  --nav-divider-width: 1px;
  --nav-divider-height: 20px;
  --nav-divider-background-color: #111010;
  --nav-button-background-color: transparent;
  --nav-button-color: black;
  --nav-button-padding: 10px 10px;
  --nav-button-border: 0px solid #111010;
  --nav-button-border-radius: 25px;
  --nav-button-font-size: 16px;
  --nav-button-font-weight: 600;
  --nav-button-transition: all 0.3s ease-in-out;
  --nav-button-cursor: pointer;
  --nav-button-margin: 0 10px;
  --nav-padding: 0 20px;
  --nav-margin: 20px;
  --nav-item-margin: 0 20px;
  --nav-item-list-style: none;
  --nav-item-cursor: pointer;
  --nav-item-transition: all 0.3s ease-in-out;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


Link{
  text-decoration: none;
  color: var(--global-link-color);
}
link:hover{
  text-decoration: none;
  color: var(--global-link-color);
}